<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggam.jjac.voca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Kaka5.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 애드립 사용을 위해 꼭 추가해주세요. -->
        <activity
            android:name="com.mocoplex.adlib.AdlibDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mocoplex.adlib.AdlibVideoPlayer"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 애드립 사용을 위해 꼭 추가해주세요. -->


        <!-- facebook ads -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- 카카오 앱 로그 -->
        <receiver
            android:name="com.kakao.kinsight.sdk.android.ReferralReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- 카카오톡 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <!-- FCM -->
        <service android:name=".Fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
        애플리케이션 구성요소에 알림의 기본 아이콘 및 색상을 설정하는 메타데이터 요소를 추가합니다.
        Android는 수신 메시지에 아이콘 및 아이콘 색상이 명시적으로 설정되지 않은 경우 이 값을 사용합니다.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/test" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- 시작 splash 화면 -->
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Ggam">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Frag.FragMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Kaka5.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kaka5.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.Toe_low_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.Toe_mid_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.Toe_high_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.Su_low_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.Su_mid_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.Su_high_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.DicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Exam.ExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exam.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exam_Stoarge.Storage_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.SetMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Point.PointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.Notice.NoticeList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.FAQ.FAQList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Point.RefundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocacard.myvoca"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.LevelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".webview"></activity>
    </application>

</manifest>